CREATE OR REPLACE FUNCTION approve_quote_public(quote_id UUID, new_status TEXT) RETURNS VOID AS \$\$ BEGIN UPDATE quotes SET status = new_status WHERE id = quote_id AND status IN ('draft', 'pending', 'sent'); IF NOT FOUND THEN RAISE EXCEPTION 'Orcamento nao encontrado ou ja foi processado.'; END IF; END; \$\$ LANGUAGE plpgsql SECURITY DEFINER; GRANT EXECUTE ON FUNCTION approve_quote_public(UUID, TEXT) TO anon; GRANT EXECUTE ON FUNCTION approve_quote_public(UUID, TEXT) TO authenticated;
