CREATE TABLE support_tickets ( id UUID DEFAULT gen_random_uuid() PRIMARY KEY, user_id UUID REFERENCES auth.users(id) NOT NULL, type TEXT NOT NULL CHECK (type IN ('doubt', 'suggestion')), subject TEXT NOT NULL, message TEXT NOT NULL, status TEXT NOT NULL DEFAULT 'open', created_at TIMESTAMPTZ DEFAULT timezone('utc'::text, now()) NOT NULL ); ALTER TABLE support_tickets ENABLE ROW LEVEL SECURITY; CREATE POLICY \
Users
can
view
own
support
tickets.\ ON support_tickets FOR SELECT USING (auth.uid() = user_id); CREATE POLICY \Users
can
insert
their
own
support
tickets.\ ON support_tickets FOR INSERT WITH CHECK (auth.uid() = user_id);
